[Unit]
Description=Configure Ethernet ring buffers
After=sys-subsystem-net-devices-eth0.device
BindsTo=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -G eth0 tx 4096 rx 8192
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
