[Unit]
Description=Mount /home data partition
DefaultDependencies=no
After=crs-home-reprovision.service
Requires=crs-home-reprovision.service
Before=local-fs.target

[Mount]
What=LABEL=home
Where=/home
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=local-fs.target
