[Unit]
Description=Create jupyter home directory on first boot
After=crs-home-reprovision.service
Requires=crs-home-reprovision.service
Before=jupyter-setup.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/jupyter-home-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
